body {
    height: 100vh;
    font-size: 0.8rem;
    background: linear-gradient(to bottom, #009688 15%, #D7DBD7 15% 100%);
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    
}
.box {
    background-color: salmon;
    border: 1px solid black
}

.nav {
    grid-column: 2/4;
    height: 62px;
}

.sidebar {
    grid-row: 1/4;
}

.main {
    grid-column: 2/4;
    height: 501px;
}

.footer {
    grid-column: 2/4;
    height: 62px;
}

/* SIDEBAR */
.user-face {
    width: 35px;
    height: 35px;
}
.container-text-sidebar {
    display: flex;
    justify-content: space-between !important;
}

.last-message {
    font-size: 0.6rem;
}

.side-contacts {
    overflow-y: scroll;
}

.input-group span {
    height: 1.5rem;
    background-color: white;
    border-right: none;
    cursor: pointer;
}

.input-group input {
    height: 1.5rem;
    border-left: none;

}

.input-group input:focus {
    box-shadow: none;
    border-color: lightgray;
}