body {
    height: 100vh;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    
}
.box {
    background-color: salmon;
    border: 1px solid black
}

.nav {
    grid-column: 2/4;
    height: 62px;
}

.sidebar {
    grid-row: 1/4;
}

.main {
    grid-column: 2/4;
    height: 501px;
}

.footer {
    grid-column: 2/4;
    height: 62px;
}

/* SIDEBAR */
.user-face {
    width: 45px;
}